header.masthead {
    background-image: url(../image/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin-top:-80px;
}

.font-weight-light {
    color: red;
}

@media (min-width: 992px) {
  header.masthead {
      padding: 320px;
  }
}
