body {
  margin:0;
  font-family: 'Lato';
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Alfa Slab One';
  text-transform: uppercase;
}

/*nav styling*/
.navbar {
    background-color: #000000;
}
.navbar-brand {
    color: #fff !important;
    font-weight: 300;
}
.nav-link {
    color: #fff !important;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00ff7f;
    transition: width .3s;
}
.nav-link:hover::after {
    width: 100%;
    //transition: width .3s;
}
.nav-link.member {
    background-color: #00ff7f;
}
@media (max-width:768px) {
  .nav-link.member {
    padding: 12px;
  }
}
/*--nav styling end--*/

/*Header styling*/
.masthead {
    background-image: url(../image/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin-top: -60px;
    padding-top: 60% !important;
    /*padding-bottom: 80px !important;*/
}

.font-weight-light {
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: -15%;
    text-shadow: 2px 2px #000;
    font-family: 'Alfa Slab One';
}

@media (max-width: 768px) {
  .font-weight-light {
      margin-top: 80%;
  }
}

.btn {
    border: 4px solid #2fd07a;
    margin-right: 15px;
    background-color: transparent;
    box-shadow: 0px 2px 8px #000;
    color: #000;
    font-weight: 700;
}
/*--header styling end--*/

/*--slogan styling--*/
.slogan {
    font-size: 3rem;
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,255,119,0.7763480392156863) 60%, rgba(0,0,0,1) 100%);
    padding: 40px;
    margin-left: -15px;
    margin-right: -15px;
    font-family: 'Alfa Slab One';
}

@media (max-width: 768px) {
  .slogan {
    margin-top: 0;
    font-size: 1.5rem;
  }
}
/*--slogan styling end--*/

/* About section*/
section.about {
    padding: 80px;
}
.right-img {
  width:100%;
}
#quote {
    font-size: 28px;
    margin-bottom: 14px !important;
    font-style: italic;
    text-transform: none;
    padding: 10px;
    text-align: center;
    border-bottom: 13px solid #8dfaff;
    width: 39%;
    margin: 0 auto;
    height: 45px;
}
@media (max-width:768px) {
  #quote {
    margin-top: -57px;
    height: 128px;
    width: 80%;
  }
}
/*--end--*/

.carousel-inner {
    padding-left: 80px;
    padding-right: 80px;
}

/*---footer styles--*/
.page-footer {
    background: #30d87f;
    padding: 80px;
    margin-right: -15px;
    margin-left: -15px;
}
.footer-title {
    font-size: 18px;
}

.copyright {
    color: #fff;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #000;
    font-size: 14px;
}
/*--footer styles end--*/
